/**************************/
/*    background-image    */
/**************************/

#background-image{
  position: fixed;
  top: 25vh;
  left: 0;
  z-index: 99;
  background-color: var(--color-principal-de-fondo);
  display: grid;
  height: 35vh;
  width:99vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  article{
    display: grid;
    }
  }

  #background-image-img{
    grid-area: 1 / 1 / 3 / 2;
    height: 30vh;
    width: auto;
    justify-self: center;
    align-self: center;
    padding: 0.5vh 5vw;
    justify-self:self-end;
    align-self: center;
    img{
      height: 30vh;
      width: auto;
    }
  }

  #background-image-description{
    display: block !important;
    grid-area: 1 / 2 / 2 / 3;
    text-align: justify;
    color: var(--color-white);
    h3{
      font-size: 1rem;
      max-height: 1rem;
      padding: 0;
      text-align: center;
    }
    p{
      font-size: 0.6rem;
      padding: 0.5rem;
    }
  }

  #ver-pelicula, #ver-series{
    grid-area: 2 / 2 / 3 / 3;
    padding: 0vw 15vw 0vw 0vw;
    align-self:self-start !important;
    justify-self: center !important;
    text-align: center !important;
    color: var(--color-link) !important;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
  }


@media screen and (min-width: 576px) and (max-width: 991px) {
  #background-image{
    position: fixed;
    top: 0;
    right: 20vh;
    height: 60vh;
    width:calc(100vw - 20vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 20vh;
    article{
      display: grid;
      }
    }
    #background-image-img{
      grid-area: 1 / 1 / 3 / 2;
      height: 54vh;
      width: auto;
      justify-self: center;
      align-self: center;
      padding: 0.5vh 5vw;
      justify-self:self-end;
      align-self: center;
      img{
        height: 54vh;
        width: auto;
      }
    }

    #background-image-description{
      display: block !important;
      grid-area: 1 / 2 / 2 / 3;
      padding: 0vw 15vw 0vw 0vw;
      justify-self: self-start;
      align-self: center;
      text-align: justify;
      color: var(--color-white);
      h3{
        font-size: 1.2rem;
        text-align: center;
        max-height: 1.2rem;
      }
      p{
        font-size: 0.8rem;
        padding: 0.6rem;
      }
    }
    #ver-pelicula, #ver-series{
      grid-area: 2 / 2 / 3 / 3;
      padding: 0vw 15vw 0vw 0vw;
      align-self:self-start !important;
      justify-self: center !important;
      text-align: center !important;
      color: var(--color-link) !important;
      font-weight: 800;
      font-size: 1.5rem;
    }
  }


@media screen and (min-width: 992px) {
  #background-image{
    position: fixed;
    top: 0;
    left: 20vh;
    height: 60vh;
    z-index: 99;
    width:calc(100vw - 20vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 20vh;
    article{
      display: grid;
      }
    }
    #background-image-img{
      grid-area: 1 / 1 / 3 / 2;
      height: 54vh;
      width: auto;
      justify-self: center;
      align-self: center;
      padding: 0.5vh 5vw;
      justify-self:self-end;
      align-self: center;
      img{
        height: 54vh;
        width: auto;
      }
    }
    #background-image-description{
      display: block !important;
      grid-area: 1 / 2 / 2 / 3;
      padding: 0vw 15vw 0vw 0vw;
      justify-self: self-start;
      align-self: center;
      text-align: justify;
      color: var(--color-white);
      h3{
        font-size: 1.8rem;
        text-align: center;
        max-height: 1.8rem;
      }
      p{
        font-size: 1rem;
        padding: 0.8rem;
      }
    }
    #ver-pelicula, #ver-series{
      grid-area: 2 / 2 / 3 / 3;
      padding: 0vw 15vw 0vw 0vw;
      align-self:self-start !important;
      justify-self: center !important;
      text-align: center !important;
      color: var(--color-link) !important;
      font-weight: 800;
      font-size: 2rem;
    }
  }
  

