/*********************/
/*Formulario Registro*/
/*********************/

#formulario-registro{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0rem 1rem;
}

#fondo-reg{
  height: 100%;
  z-index: 0;
  padding: 1rem;
  display: grid;
  grid-area: 1 / 1 / 18 / 3;
  justify-self: center;
  align-self: center;
  img{
    width: 65vw;
    height: auto;
  }
}

#form-reg-1{
  z-index: 99;
  color: var(--color-white) ;
  display: grid;
  grid-area: 6 / 1 / 7 / 3;
  font-weight: 700;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

#form-reg-2{
  z-index: 99;
  color: var(--color-white) ;
  display: grid;
  grid-area: 7 / 1 / 10 / 3;
  font-size: 0.5rem;
  font-weight: 700;

  form{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

    div {
      margin: 0;
      padding: 0;
      &:first-child{
        grid-area: 1 / 1 / 2 / 3;
        width: 55vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 0rem 0.5rem;
        label{
          grid-area: 1 / 1 / 2 / 2;
          justify-self: end;
          align-self: center;
        }
        input{
          grid-area: 1 / 2 / 2 / 3;
          justify-self: start;
          align-self: center;
        }
      }
      &:nth-child(2){
        grid-area: 2 / 1 / 3 / 3;
        width: 55vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 0rem 0.5rem;
        label{
          grid-area: 1 / 1 / 2 / 2;
          justify-self: end;
          align-self: center;
        }
        input{
          grid-area: 1 / 2 / 2 / 3;
          justify-self: start;
          align-self: center;
        }
      }
      &:nth-child(3){
        grid-area: 3 / 1 / 4 / 3;
        width: 55vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 0rem 0.5rem;
        label{
          grid-area: 1 / 1 / 2 / 2;
          justify-self: end;
          align-self: center;
        }
        input{
          grid-area: 1 / 2 / 2 / 3;
          justify-self: start;
          align-self: center;
        }
      }
      &:last-child{
        grid-area: 4 / 1 / 6 / 3;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr;
        input{
          display: grid;
          grid-area: 1 / 1 / 2 / 3;
          align-self:center;
          justify-self:center;
          background-color: var(--color-naranja-logo);
          border-color: transparent;
          border-radius: 0.2rem;
          color: var(--color-naranja-logo-dark);
          font-weight: 800;
          font-size: 0.6rem;
          &:hover{
            background-color: var(--color-naranja-logo-hover);
            cursor: pointer;
          }
        }
      }
    } 
}

#nameLastname, #password, #password2{
  border-color: transparent;
  border-radius: 0.15rem;
  background-color: var(--color-naranja-logo-form);
  color: var(--color-principal-de-fondo);
  width: 5rem;
  font-size: 0.4rem;
  text-align: center;
  &:hover{
    background-color: var(--color-naranja-logo-hover);
  }
}
}


#form-reg-3{
  z-index: 99;
  color: var(--color-white) ;
  grid-area: 12 / 1 / 13 / 3;
  font-size: 0.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  1fr;
  gap: 0rem 1rem;
  div{
    &:first-child{
      justify-self: end;
      align-self: center;
    }
    &:last-child{
      justify-self: start;
      align-self: center;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }
}

.reg-img{
  height: 0.5rem;
  width: auto;
  padding: 0rem 0.1rem;
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  #formulario-registro{
    grid-area: 1 / 2 / 4 / 3;
  }
  #form-reg-1{
    font-size: 1rem;
    font-weight: 800;
  }
  #form-reg-2{
  
    form{
      div {
        font-size: 0.7rem;
        &:first-child{
          width: 80vh;
          input{
            font-size: 0.7rem;
            height: 0.9rem;
          }
        }
        &:nth-child(2){
            width: 80vh;
            input{
              font-size: 0.7rem;
              height: 0.9rem;
            }
          }
          &:nth-child(3){
            width: 80vh;
            input{
              font-size: 0.7rem;
              height: 0.9rem;
            }
          }
        &:last-child{
          input{
            border-radius: 0.2rem;
            font-size: 0.8rem;
            height: 1.3rem;
            width: 6rem;
          }
        }
      } 
    }
  }
  
  #nameLastname, #password, #password2{
    border-radius: 0.2rem;
    width: 8rem;
    font-size: 0.4rem;
  }

  #form-reg-3{
    font-size: 1rem;
  }
  .reg-img{
    height: 0.8rem;
    width: auto;
    padding: 0rem 0.2rem;
  }

}

@media screen and (min-width: 992px) {
  #formulario-registro{
    grid-area: 1 / 3 / 4 / 4;
  }

  #form-reg-1{
    font-size: 1rem;
    font-weight: 800;
    grid-area: 7 / 1 / 8 / 3;
  }
  #form-reg-2{
    grid-area: 8 / 1 / 12 / 3;
    form{
      div {
        font-size: 0.7rem;
        &:first-child{
          width: 80vh;
          input{
            font-size: 0.7rem;
            height: 0.9rem;
          }
        }
        &:nth-child(2){
            width: 80vh;
            input{
              font-size: 0.7rem;
              height: 0.9rem;
            }
          }
          &:nth-child(3){
            width: 80vh;
            input{
              font-size: 0.7rem;
              height: 0.9rem;
            }
          }
        &:last-child{
          input{
            border-radius: 0.3rem;
            font-size: 0.9rem;
            height: 1.3rem;
            width: 8rem;
          }
        }
      } 
    }
  }
  
  #nameLastname, #password, #password2{
    border-radius: 0.2rem;
    width: 10rem;
    font-size: 0.4rem;
  }

  #form-reg-3{
    font-size: 1.5rem;
  }
  .reg-img{
    height: 1.2rem;
    width: auto;
    padding: 0rem 0.5rem;
  }

}
